ion-header-vertical-tab {

    i[class^="fa-"], ion-icon[class^="fa-"] {    
        font-family: "FontAwesome" !important;
     }

    .is-selected{
        color: color($colors, primary);
    }

    .is-not-selected{
        color: color($colors, secondary);
    }
}
